body {
  font-family: "Comic sans MS";
}

.prev-arrow,
.next-arrow {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.div-calendario {
  display: flex;
  /* margin-right: 8vh;
  margin-left: 8vh;
  flex-grow: 1; */
  flex-direction: column;
  margin-left: 5vh;
}

h3 {
  font-size: 25px;
  margin: 0.25em;
}

#month-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-section-one {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container-section-one > * {
  flex: 1 1 45%; /* Gli elementi occuperanno circa il 45% dello spazio, andando a capo quando serve */
  text-align: center;
}

.container-section-one > *:nth-child(3) {
  flex-basis: 100%; /* Occupa tutta la riga */
}
.div-form {
  display: flex;
}

#form {
  display: flex;
  flex-direction: column;
  margin-left: 40vh;
}

.btn {
  border-radius: 20px;
  border: 2px solid black;
  padding: 0.4em 0.8em;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color: black;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin: 0.25em;
}


.btn:hover {
  background: linear-gradient(135deg, #fad0c4, #ff9a9e);
  transform: scale(1.05);
}

#btn-container {
  margin-top: 0.5em;
}

.task-div {
  background-color: #fdfd96;
  color: #333;
  padding: 10px 15px;
  margin: 10px;
  width: 200px;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Effetto rilievo */
  font-family: "Comic Sans MS", sans-serif;
  font-size: 16px;
  position: relative;
  transform: rotate(-2deg);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-div:hover {
  transform: rotate(0deg) scale(1.05);
}

#task-container {
  display: flex;
}

#section-two {
  margin-top: 1em;
}

.btn-task {
  background-color: #ffcc66;
  color: #333;
  border: 2px solid #d1a054;
  padding: 4px 8px;
  border-radius: 5px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  align-self: flex-end;
  margin-top: 10px;
}

.btn-task:hover {
  background-color: #ffb84d;
  transform: scale(1.05);
}

.cross {
  text-decoration: line-through;
}

.tasks-title {
  font-size: 20px;
}

.div-details {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
 
}

